.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea,
.form-control select {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

    .form-control input:focus,
    .form-control textarea:focus,
    .form-control select:focus {
        outline-color: #00695c;
    }

.form-control select {
    height: 2rem;
}

.tableNo__input {
    width: 10rem;
    height: 2rem;
}

.coupon__group-control {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: auto;
    width: 40rem;
    max-width: 90%;
}

.coupon__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
}

.coupon__input .input-box {
    height: 2rem;
    margin-bottom: 0;
}

.coupon__input .btn-custom {
    width: 15rem;
    height: 2rem;
}